<%- include('partials/head') %>
<h2 class="text-center">Editar Tia</h2>
<div class="spacer-md">&nbsp</div>
<div class="container">
    <% for(var i = 0; i < user.length; i++) {%>
    <%console.debug(user[i])%>
    <form action="/edit" method="POST">
        <input type="hidden" name="id" value="<%= user[i]._id %>" />
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-6" value="<%= user[i].nome %>" name="nome"
                placeholder="Insira seu nome" />
            <input class="form-control col-xs-12 col-md-6" value="<%= user[i].sobrenome %>" name="sobrenome"
                placeholder="Insira seu sobrenome" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-6" value="<%= user[i].nascimento %>" name="nascimento"
                type="date" placeholder="Insira seu nascimento" />
            <input class="form-control col-xs-12 col-md-6" value="<%= user[i].email %>" name="email"
                placeholder="Insira seu email" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-2" value="<%= user[i].cep %>" name="cep"
                placeholder="Insira seu cep" id="cep-field" />
            <input class="form-control col-xs-12 col-md-10" value="<%= user[i].logradouro %>" name="logradouro"
                id="logradouro-field" placeholder="Insira seu logradouro" readonly />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-4" value="<%= user[i].cidade %>" name="cidade" id="cidade-field"
                placeholder="Insira seu cidade" readonly />
            <input class="form-control col-xs-12 col-md-4" value="<%= user[i].estado %>" name="estado" id="estado-field"
                placeholder="Insira seu estado" readonly />
            <input class="form-control col-xs-12 col-md-4" value="<%= user[i].numero %>" name="numero"
                placeholder="Insira seu numero" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-12" value="<%= user[i].complemento %>" name="complemento"
                id="complemento-field" placeholder="Insira seu complemento" />
        </div>
        <textarea class="form-control col-xs-12 col-md-12 text-center" name="text"
            placeholder="Insira seu macro"><%= user[i].text %></textarea>
        <div class="spacer-md">&nbsp</div>
        <input class="btn btn-primary offset-5 col-2" type="submit" value="Salvar" />
    </form>
    <% } %>
</div>
<%- include('partials/footer') %>