<%- include('partials/head') %>
<h2 class="text-center">Editar Tia</h2>
<div class="container">
    <% for(var i = 0; i < user.length; i++) {%>
    <form action="/edit" method="POST">
        <input type="hidden" name="id" value="<%= user[i]._id %>" />
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-6" value="<%= user[i].nome %>" name="nome"
                placeholder="Insira seu nome" />
            <input class="form-control col-xs-12 col-md-6" value="<%= user[i].sobrenome %>" name="sobrenome"
                placeholder="Insira seu sobrenome" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-6" value="<%= user[i].nascimento %>" name="nascimento"
                placeholder="Insira seu nascimento" />
            <input class="form-control col-xs-12 col-md-6" value="<%= user[i].email %>" name="email"
                placeholder="Insira seu email" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-2" value="<%= user[i].cep %>" name="cep"
                placeholder="Insira seu cep" />
            <input class="form-control col-xs-12 col-md-10" value="<%= user[i].logradouro %>" name="logradouro"
                placeholder="Insira seu logradouro" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-4" value="<%= user[i].cidade %>" name="cidade"
                placeholder="Insira seu cidade" />
            <input class="form-control col-xs-12 col-md-4" value="<%= user[i].estado %>" name="estado"
                placeholder="Insira seu estado" />
            <input class="form-control col-xs-12 col-md-4" value="<%= user[i].pais %>" name="pais"
                placeholder="Insira seu pais" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-2" value="<%= user[i].numero %>" name="numero"
                placeholder="Insira seu numero" />
            <input class="form-control col-xs-12 col-md-10" value="<%= user[i].complemento %>" name="complemento"
                placeholder="Insira seu complemento" />
        </div>
        <input class="btn btn-primary offset-5 col-2" type="submit" value="Salvar" />
    </form>
    <% } %>
</div>
<%- include('partials/footer') %>